body {
    /* background: url(../images/redbg.jpg);*/
    background: #dcdcdc !important;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.8;
    margin: 0px;
    overflow-x: hidden;
}
