@{
    ViewData["Title"] = "Sign Up Failed";
}
<div class="alert alert-danger" role="alert">
    Username already exist <a asp-action="SignUp" class="alert-link">Try Again</a> with different username
</div>