@{
    ViewData["Title"] = "Main Page";
}
<div class="container mr-auto mt-50" id="question">
    <div class="headofquestion border border-dark">
        <p class="font-weight-bold" style="font-size: 25px;"><i class="fa fa-star"></i> Questions for you</p>
    </div>
    <div class="questions">
        @for (int i = 0; i < 15; i++)
        {
        <partial name="~/Views/User/_Partial.cshtml"/>
        }
    </div>
</div>